@* @{
    ViewData["Title"] = "Home Page";
}
 *@
@*  <div class="text-center">
    <h2>Welcome to the world of movies!</h2>
    <p>Discover the latest movies and exclusive shows. Enjoy a huge library of movies and TV shows for all tastes.</p>
    <a href="Movie/Index" type="button" class="btn btn-primary" fdprocessedid="wj6fvp">Start watching now!</a>
</div>  *@

<!DOCTYPE html>
<html lang="ar">

<body>
    <section class="welcome">
        <h2>Welcome to the world of movies!</h2>
        <p>Discover the latest movies and exclusive shows. Enjoy a huge library of movies and TV shows for all tastes.</p>
        <a href="/Movie/Index" class="cta-button">Start watching now!</a>
    </section>
    <section class="movie-categories">
        <h2>Film Categories</h2>
        <div class="categories">
            <div class="category">🔥 Action</div>
            <div class="category">🎭 Drama</div>
            <div class="category">🌌 Science fiction</div>
            <div class="category">😂 Comedy</div>
            <div class="category">👨‍👩‍👦 Family films</div>
            <div class="category">🎬 Documentary films</div>
        </div>
    </section>
</body>
</html>


